html, body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --color-white: #E1D5E7;
    --color-main: #D1BADA;
    --color-button-hover: #9A86A4;
    --color-black: #5D4973;
    --color-text: #F0E0F1;
    --color-input-bg: #BFA2DB;
    --color-border1: #6E6486;
}

.login-container {
    background: var(--color-white);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-black);
    font-size: 0.9em;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--color-border1);
    border-radius: 4px;
    background: var(--color-input-bg);
    color: var(--color-text);
    
}

button#login-button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
button #signup-button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
button.google-button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
button.go-to-button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
/* Utility */
.hidden {
    display: none;
}

.visible {
    display: block;
}
/* Corrected CSS */
button#login-button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button#signup-button{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
button#login-button:hover {
    background-color: var(--color-button-hover);
}


