<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <h2>Login to MindBot</h2>
        <form id="login-form" action="/login" method="post">
            <div class="input-group">
                <label for="loginId">Login ID:</label>
                <input type="text" id="loginId" name="loginId">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
                <button type="submit" id="google-login-button" class="google-button">Login</button><br>
                <a href="/signup" id="google-signup-button" class="google-button">Sign Up</a>
            
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='auth.js') }}" defer></script> -->
</body>
</html>
