<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <h2>Sign Up for MindBot</h2>
        <form id="signup-form" action="/signup" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit" id="google-login-button" class="google-button">Sign Up</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='auth.js') }}" defer></script> -->
</body>
</html>
